nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-end;
    margin: 10px 0;
}

.logo-div {
    background-image: url("/img/logo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    height: 65px;
}

.menu {
    background-image: url("img/hamburger.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 10px 0 0;
    cursor: pointer;
    width: 30px;
    height: 30px;
}